.header {
    border-bottom: 1px solid black;
    background-image: url('https://newsua.ru/images/2020/03/dengi-2.jpg');
    .headertext {
        font-size:36pt;
        color:black;
        font-weight:bold;
        -webkit-text-stroke: .04em white;        
    }
}